.article_item_container {
    position: relative;
}

.trivium_link {
    text-decoration: none;
    color: #434343;
}

.trivium_unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    &:hover {
        background-color: #ade8e6;
        cursor: pointer;
    }
    &:active {
        background-color: #65d9d7;
        box-shadow: 0 0 #ccc;
    }
}

.trivium_unit:hover .item_title {
    transition: 0.2s;
    color: #000;
}

.item_title,
.item_summary,
.item_footer {
    padding-left: 30px;
    padding-right: 30px;
}

.edit_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url("../../images/pen.png");
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        rotate: -10deg;
        scale: 1.1;
    }
    &:active {
        rotate: -10deg;
        scale: 1.3;
    }
}

.delete_btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-image: url("../../images/trashbox.png");
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        scale: 1.2;
    }
    &:active {
        scale: 1.5;
    }
}

@media (max-width: 600px) {
    .edit_btn {
        display: none;
    }
}
