.link_btn_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40%;
    text-decoration: none;
    background-color: #ade8e6;
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #777;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 6px #ccc;
    &:hover {
        background-color: #65d9d7;
    }
    &:active {
        background-color: #65d9d7;
        box-shadow: 0 0 #ccc;
        top: 6px;
        position: relative;
    }
}
