.new_addition_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 1.5rem;
    .title_input,
    .summary_input,
    .detail_input {
        width: 80%;
        font-size: 2rem;
        overflow-y: hidden;
    }
    .submit_btn {
        width: 80%;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2rem;
        background-color: #ade8e6;
    }
}
