.head_container h2{
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-align: center;
    margin-bottom: 1rem;
}

.head_container p{
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    margin-bottom: 1rem;
}
