.trivium_unit {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.item_title {
    margin-bottom: 0.5em;
}

.item_summary {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.item_detail {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.edit_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url("../../images/pen.png");
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        rotate: -10deg;
        scale: 1.1;
    }
    &:active {
        rotate: -10deg;
        scale: 1.3;
    }
}

@media (max-width: 600px) {
    .edit_btn {
        display: none;
    }
}
