html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

header {
    background-color: #53d1cf;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding: 15px 0;
    & a {
        color: #636b6f;
        font-size: 10vw;
        font-weight: 70;
        text-decoration: none;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0; /* 左に余白ができるのを防ぐ */
    margin-bottom: 0; /* 下に余白ができるのを防ぐ */
}

nav ul li {
    border: 2px solid #636b6f;
    border-bottom: none;
    background-color: #c5e8e8;
    text-align: center;
    padding: 15px 0;
    transition: 0.3s;

    & a {
        color: #636b6f;
        font-size: 5vw;
        text-decoration: none;
    }

    &:last-child {
        border-bottom: 2px solid #636b6f;
    }
    &:hover {
        background-color: #65d9d7;
        & a{
            color: #fff;
        }
    }
    &:active {
        background-color: #41b9bd;
    }
}

@media (min-width: 600px) {
    h1 a {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: row;
        padding-left: 0; /* 左に余白ができるのを防ぐ */
        margin-bottom: 0;
    }

    nav ul li {
        border: 2px solid #636b6f;
        border-right: none;
        flex: 1; /* 均等に広げる */
        background-color: #c5e8e8;
        text-align: center;
        padding: 15px 0;
        &:last-child {
            border-right: 2px solid #636b6f;
        }
        & a {
            font-size: 2.5vw;
        }
    }
}
