header {
    background-color: #222222;
    width: 100%;
}

header>a {
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

header>a>h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #636b6f;
    text-decoration: none;
    margin: 0;
    padding: 10px 0;
    transition: 0.2s;
    &:hover {
        color: #007bff;
    }
    &:active {
        background-color: #007bff;
        color: #fff;
    }
}

header>nav>ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

header>nav>ul>a {
    display: block;
    color: #636b6f;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    width: 25%;
    border: 2px solid #636b6f;
    border-left: none;
    background-color: #93e8e6;
    text-align: center;
    padding: 10px 0;
    transition: 0.2s;
    &:hover {
        text-decoration: none;
    }
    &:active {
        background-color: #007bff;
        color: #fff;
    }
}

@media (max-width: 600px) {
    header>nav>ul {
        flex-direction: column;
        align-items: center;
    }
    header>nav>ul>a {
        width: 100%;
        border: 2px solid #636b6f;
        background-color: #93e8e6;
        border-bottom: none;
        text-align: center;
        padding: 10px 0;
        transition: 0.2s;
        &:hover {
            text-decoration: none;
        }
        &:last-child {
            border-bottom: 2px solid #636b6f;
        }
    }
}
